body {
  background-color: $main-background-color;
  color: $txt-color-normal;
  font-size: 100%;
  min-width: $min-page-width;
  font-size: 18px;

  @include large {
    font-size: 16px;
  }

  @include medium {
    font-size: 14px;
  }
}

html,
body,
#app {
  height: 100%;
}

.txt-content {
  max-width: 870px;
  margin-bottom: 48px;
}

// Headings
// ------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $metropolis;
  font-weight: 800;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

@include large {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }
}

@include medium {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }
}

// Section
// ------------------------------
section {
  padding-top: 1.3em;
}

// Reset of some default stylings
// ------------------------------
button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: $txt-color-normal;

  &:focus {
    outline: 0;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// Aligning Classes
// --------------------------
.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

// Color Classes
// --------------------------
.color-accent {
  color: $txt-color-accent;
}

.txt-grad {
  color: $button-light-color;
  background-image: $main-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Hide Classes
// --------------------------
.hide-s {
  @include small {
    display: none !important;
  }
}

.hide-m {
  @include medium {
    display: none !important;
  }
}

.hide-l {
  @include large {
    display: none !important;
  }
}

.hide {
  display: none !important;
}

.show-flex {
  display: flex !important;
}

// Fonts Classes
// --------------------------
.metropolis {
  font-family: $metropolis;
}

.inter {
  font-family: $inter;
}

.anonymous {
  font-family: $anonymous;
  font-weight: bold;
}

.fas, .fab {
  margin-left: 0.5em;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.mormal {
  font-weight: 500;
}

// Hover FX Classes
// --------------------------
.hover-fx {
  transition: filter $transition-time, box-shadow $transition-time;

  &:hover {
    filter: brightness(110%);
    box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.3), 4px 4px 5px rgba(21, 99, 102, 0.07);
  }
}

.hover-bright {
  &:hover {
    filter: brightness(110%);
  }
}

.hover-fx-txt {
  transition: filter $transition-time;

  &:hover {
    filter: brightness(110%);
  }
}

.a-fancy {
  text-decoration: underline;
  text-decoration-color: $txt-color-accent;

  &:hover {
    @extend .txt-grad;
  }
}

.hover-red {
  &:hover {
    color: $txt-color-alert !important;
  }
}
